@mixin font-size($font-size: 16){
    font-size:($font-size)*1px;
    font-size:($font-size / $base-font-size)*1rem;
}

@mixin max-width($width: $max-width) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

// Buttons: we can create different variants of buttons with
// these mixins

@mixin btn {
 @include button-size($padding-vertical, $padding-horizontal, 16, $baseline-height, $radius);
  font-family: $base-font;
  display: inline-block;
  margin: $margin-base 0;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  @include font-size($font-size);
  line-height: $line-height;
  border-radius: $border-radius;
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  cursor: pointer;

  &:visited {
    color: $color;
  }

  &:hover, &:focus,
  &:active {
    color: $color;
    text-decoration: none;
    outline-color: $brand-color;
  }
}

// mixin for color swatch we are going to use flexbox

@mixin color-swatch($color, $color-variable-name, $text-color: white) {
  background-color: $color;
  color: $text-color;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border: solid 1px $border-color;
  padding: 10px;
  margin: $baseline / 2 1%;
  &:before {
    @include font-size();
    content: '#{$color-variable-name}';
  }

  @media all and (min-width: $bp-small) {
    width: 175px;
    height: 100px;
  }
}


