// Colors *****************************************************

// Grey scale

$black              : rgb(0, 0, 0);
$superdark  	    : lighten($black, 10%);
$darkergrey 	    : lighten($black, 15%);
$darkgrey 		    : lighten($black, 25%);
$grey 			    : lighten($black, 50%);
$lightgrey 		    : lighten($black, 75%);
$lightergrey 	    : lighten($black, 90%);
$superlightergrey   : lighten($black, 95%);
$white 			    : rgb(255,255,255);

// Brand colors
$brand-color       : #52BAD5;
$base-color        : $brand-color;
$base-color-light  : lighten($base-color, 10);
$secondary-color   : rgb(241, 108, 61);
$border-color      : $lightergrey;

// Web
$background-color   : $white;
$text-color         : $darkergrey;
$text-color-strong  : $black;

// Typography *************************************************

$fonts-dir             : "../fonts";
//$base-font             : "Helvetica neue", Helvetica, Arial, sans-serif;
$base-font             : "open_sansregular", Helvetica, Arial, sans-serif;
$alt-font              : Georgia, Times, "Times New Roman";
$code-font             : "Courier New", monospace;
$code-color            : #c7254e;
$heading-font          : inherit;
$heading-font-weight   : bold;
$heading-font-color    : inherit;

$baseline-height       : 1.5em;
$baseline              : $baseline-height;
$base-font-size        : 16;


// Links ******************************************************

$link-color: $base-color;
$link-hover-color: darken($link-color, 10);
$link-visited-color: $link-color;
$link-focus-color: darken($link-visited-color, 10);


// Layout *****************************************************

$max-width          : 60em; /* 960px / 16px */
$gutter-width       : 24px;
$radius             : 4px;
$hover-transition   : .3s;
$animation-time     : .8s;
$padding-vertical   : 6px;
$padding-horizontal : 12px;
$margin-base: $padding-vertical;

// Breakpoints ************************************************

$bp-small    : 48em; // 768px / 16px;
$bp-medium   : 62em; // 992px / 16px;
$bp-large    : 75em; // 1200px / 16px;

// Textures ***************************************************

// Colors of different states warning, success, info ...

$success-color  : #5cb85c;
$info-color     : #5bc0de;
$warning-color  : #f0ad4e;
$danger-color   : #d9534f;

// Buttons ****************************************************

$btn-font-weight: normal;

$btn-default-color    : #333;
$btn-default-bg       : $white;
$btn-default-border   : #ccc;

$btn-primary-color    : $white;
$btn-primary-bg       : $brand-color;
$btn-primary-border   : darken($btn-primary-bg, 5%);

$btn-success-color    : $white;
$btn-success-bg       : $success-color;
$btn-success-border   : darken($btn-success-bg, 5%);

$btn-info-color    : $white;
$btn-info-bg       : $info-color;
$btn-info-border   : darken($btn-info-bg, 5%);

$btn-warning-color    : $white;
$btn-warning-bg       : $warning-color;
$btn-warning-border   : darken($btn-warning-bg, 5%);

$btn-danger-color    : $white;
$btn-danger-bg       : $danger-color;
$btn-danger-border   : darken($btn-danger-bg, 5%);

// Forms ******************************************************
$input-bg                  : #fff;
$input-focus-shadow        : 0 0 6px rgba($brand-color, .3);
$input-border-color        : #ccc;
$input-focus-border-color  : lighten($brand-color, 20%);
$input-padding             : 6px 12px;
