<h3 id="abbreviation">Abbreviation <code>abbr</code></h3>
<p>
  <abbr title="British Broadcasting Corportation">BBC</abbr>, <abbr title="HyperText Markup Language">HTML</abbr>, and <abbr title="Staffordshire">Staffs.</abbr>
</p>
