<h3 id="blockquotes">Blockquotes <code>blockquote</code></h3>
<blockquote cite="http://developer.mozilla.org">
  <p>This is a quotation taken from the Mozilla Developer Center. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
</blockquote>
