<nav role="navigation" class="breadcrumb">
  <a href="#">Lorem section</a>
  <a href="#">Ipsum section</a>
  <a href="#">Dolor section</a>
  <strong>Current section</strong>
</nav>

<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10">
<nav role="navigation" class="breadcrumb">
  <a href="#">Lorem section</a>
  <a href="#">Ipsum section</a>
  <a href="#">Dolor section</a>
  <strong>Current section</strong>
</nav></textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Show navigation breadcrumb.
      </p>
    </section>
</details>
