<h4>Button variants</h4>
 <p>
  <input type="submit" class="btn--default" value="Default">
  <input type="submit" class="btn--primary" value="Primary">
  <input type="submit" class="btn--success" value="Success">
  <input type="submit" class="btn--info" value="Info">
  <input type="submit" class="btn--warning" value="Warning">
  <input type="submit" class="btn--danger" value="Danger">
 </p>

<h4>Disabled buttons</h4>
 <p>
  <input type="submit" class="btn--default--disabled" value="Default" disabled>
  <input type="submit" class="btn--primary--disabled" value="Primary" disabled>
  <input type="submit" class="btn--success--disabled" value="Success" disabled>
  <input type="submit" class="btn--info--disabled" value="info" disabled>
  <input type="submit" class="btn--warning--disabled" value="Warning" disabled>
  <input type="submit" class="btn--danger--disabled" value="Danger" disabled>
 </p>


<h4>Link, Input and Buttom</h4>
<div>
  <a href="#" class="btn--default">Link button</a>
  <input type="submit" class="btn--default" value="Submit input">
  <button class="btn--default">Button</button>
</div>
