<h4>Button variants</h4>
 <div>
  <input type="submit" class="btn--default" value="Default">
  <input type="submit" class="btn--primary" value="Primary">
  <input type="submit" class="btn--success" value="Success">
  <input type="submit" class="btn--warning" value="Warning">
  <input type="submit" class="btn--danger" value="Danger">
</div>
