<h4>Button variants</h4>
 <p>
  <input type="submit" class="btn--default" value="Default">
  <input type="submit" class="btn--primary" value="Primary">
  <input type="submit" class="btn--success" value="Success">
  <input type="submit" class="btn--warning" value="Warning">
  <input type="submit" class="btn--danger" value="Danger">
 </p>


<h4>Submit, Button, Link,</h4>
<div>
  <input type="submit" class="btn--primary" value="Submit input">
  <input type="button" class="btn--primary" value="Button input">
  <a href="#" class="btn--primary">Link button</a>
</div>
