<p class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquid!</p>

<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10"><p class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquid!</p></textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Short text describing some content.
      </p>
    </section>
</details>
