<h3 id="code">Code <code>code</code></h3>
<p>When you <code>activate()</code> method on the <code>robotSnowman</code> object, the eyes glow</p>

<p>Used in conjunction with the pre element:</p>
<pre>
        <code>function getJelly() {
                echo $aDeliciousSnack;
              }
        </code>
</pre>
