<section class="color-list">
  <article class="color--1"></article>
  <article class="color--2"></article>
  <article class="color--3"></article>
  <article class="color--4"></article>
  <article class="color--5"></article>
  <article class="color--6"></article>
  <article class="color--7"></article>
</section>
