<h3>Figures <code>figure figcaption</code></h3>
<figure>
  <img src="http://lorempixel.com/640/480/nature/10" alt="abstract image">
  <figcaption>This is a caption text of the image</figcaption>
</figure>
