<form action="">
  <fieldset>
    <legend class="legend">Legend Personal information</legend>
    <p>
      <label for="name" class="label">Name <abbr title="Required" class="label__asterisk">*</abbr>
        <input type="text" id="name" class="text-input">
        <small class="caption">Note about this field</small>
      </label>
    </p>

    <p>
      <label for="email" class="label">Email <abbr title="Required" class="label__asterisk">*</abbr>
        <input type="email" id="email" class="text-input">
        <small class="caption">Note about this field</small>
      </label>
    </p>

    <p>
      <label for="password" class="label">Password <abbr title="Required" class="label__asterisk">*</abbr>
        <input type="password" id="password" class="text-input">
        <small class="caption">Note about this field</small>
      </label>
    </p>

    <p>
      <label for="phone" class="label">Phone Number <abbr title="Required" class="label__asterisk">*</abbr>
      </label>
      <input type="tel" id="phone" class="text-input">
      <small class="caption">Note about this field</small>
    </p>

    <p>
      <label for="homepage" class="label">Homepage <abbr title="Required" class="label__asterisk">*</abbr>
        <input type="url" id="homepage" class="text-input">
        <small class="caption">Note about this field</small>
      </label>
    </p>

    <p>
      <label for="select" class="label">Select <abbr title="Required" class="label__asterisk">*</abbr>
      </label>
      <select name="select" id="select" class="select-input">
        <optgroup label="Option Group"></optgroup>
        <option value="option1">Option 1</option>
        <option value="option2" selected>Option 2</option>
        <option value="option3">Option 3</option>
      </select>
      <small class="caption">Note about this selection</small>
    </p>

    <fieldset class="options-list">
      <legend class="label">Check list <abbr title="Required" class="label__asterisk">*</abbr></legend>

      <div class="option">
        <input type="checkbox" id="check1" class="option__input" checked>
        <label for="check1" class="option__label">Check 1</label>
      </div>

      <div class="option">
        <input type="checkbox" id="check2" class="option__input">
        <label for="check2" class="option__label">Check 2</label>
      </div>

      <div class="option">
        <input type="checkbox" id="check3" class="option__input">
        <label for="check3" class="option__label">Check 3</label>
      </div>
      <small class="caption">Note about these options</small>
    </fieldset>

    <fieldset class="options-list">
      <legend class="label">Radio list <abbr title="Required" class="label__asterisk">*</abbr></legend>

      <div class="option">
        <input type="radio" id="radio1" class="option__input" name="radio-list" value="option1" checked>
        <label for="radio1" class="option__label">Option 1</label>
      </div>

      <div class="option">
        <input type="radio" id="radio2" class="option__input" name="radio-list" value="option2">
        <label for="radio2" class="option__label">Option 2</label>
      </div>

      <div class="option">
        <input type="radio" id="radio3" class="option__input" name="radio-list" value="option3">
        <label for="radio3" class="option__label">Option 3</label>
      </div>

      <small class="caption">Note about these options</small>
    </fieldset>

    <p>
      <label for="textarea" class="label">Textarea <abbr title="Required" class="label__asterisk">*</abbr></label>
      <textarea name="textarea" id="textarea" class="text-input" cols="30" rows="10"></textarea>
      <small class="caption">Note about this field</small>
    </p>

    <p class="option">
      <input type="checkbox" id="single-check" class="option__input" checked>
      <label for="single-check" class="option__label">Single checkbox</label>
      <small class="caption">Note about this field</small>
    </p>

    <div class="">
      <input type="submit" class="btn--primary" value="Post comment">
      <input type="button" class="btn--default" value="Preview">
      <a href="#">Cancel</a>
    </div>

  </fieldset>

</form>
