<form action="">
  <fieldset>
   <legend>Personal information</legend>
    <p>
      <label for="name">Name <abbr title="Required">*</abbr></label>
      <input type="text" id="name">
      <small class="caption">Note about this field</small>
    </p>

    <p>
      <label for="email">Email <abbr title="Required">*</abbr></label>
      <input type="email" id="email">
      <small class="caption">Note about this field</small>
    </p>

    <p>
      <label for="homepage">Homepage <abbr title="Required">*</abbr></label>
      <input type="url" id="homepage">
      <small class="caption">Note about this field</small>
    </p>

    <p>
      <label for="color">Favorite color <abbr title="Required">*</abbr></label>
    </p>

  </fieldset>

</form>
