<h2>Headings</h2>

<h1>Heading level 1 <a href="#">Linked</a> <code>h1</code> <small>small text</small></h1>
<h2>Heading level 2 <a href="#">Linked</a> <code>h2</code> <small>small text</small></h2>
<h3>Heading level 3 <a href="#">Linked</a> <code>h3</code> <small>small text</small></h3>
<h4>Heading level 4 <a href="#">Linked</a> <code>h4</code> <small>small text</small></h4>
<h5>Heading level 5 <a href="#">Linked</a> <code>h5</code> <small>small text</small></h5>
<h6>Heading level 6 <a href="#">Linked</a> <code>h6</code> <small>small text</small></h6>
