<img class="img--framed" src="http://lorempixum.com/180/136/nature/1" alt="nature"/>


<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10"><img class="img--framed" src="http://lorempixum.com/180/136/nature/1"alt="nature"/>
      </textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Framed images.
      </p>
    </section>
</details>


<hr>

<img class="img--framed img--circle" src="http://lorempixum.com/136/136/people/7" alt="people"/>

<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10"><img class="img--framed img--circle" src="http://lorempixum.com/136/136/people/7" alt="people"/>
      </textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Framed and circular image.
      </p>
    </section>
</details>


<hr>

<img class="img--circle" src="http://lorempixum.com/136/136/people/6" alt="people"/>

<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10"><img class="img--circle" src="http://lorempixum.com/136/136/people/7" alt="people"/>
      </textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Circular image without frame.
      </p>
    </section>
</details>

