<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repudiandae, excepturi possimus. Incidunt aperiam possimus reiciendis dignissimos consectetur repellat temporibus ex culpa! Laborum tempore, perspiciatis corporis iste aspernatur consectetur accusantium.</p>

<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repudiandae, excepturi possimus. Incidunt aperiam possimus reiciendis dignissimos consectetur repellat temporibus ex culpa! Laborum tempore, perspiciatis corporis iste aspernatur consectetur accusantium.</p></textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Content preceding the main body of a page or article, giving the reader the main idea of the following content.
      </p>
    </section>
</details>
