<h3>Ordered list <code>ol li</code></h3>
<ol>
  <li>Ordered item 01</li>
  <li>
    Ordered item 02 is a sublist
    <ol>
      <li>Subitem 01</li>
      <li>Subitem 02</li>
      <li>Subitem 03</li>
    </ol>
  </li>
  <li>Ordered item 03</li>
  <li>Ordered item 04</li>
</ol>

<h3>Unordered list <code>ul li</code></h3>
<ul>
  <li>First item</li>
  <li>
    Second item is a sublist
    <ul>
      <li>Subitem 1</li>
      <li>Subitem 2</li>
      <li>Subitem 3</li>
    </ul>
  </li>
  <li>Third item</li>
  <li>Fourth item</li>
</ul>

<h3>A list of paragraphs</h3>
<ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque minus dolores illum, dolore provident architecto excepturi earum numquam blanditiis labore in fuga, voluptatum impedit! Animi ut voluptate laboriosam facere possimus.</li>
  <li>Reprehenderit, eius doloremque quos, labore accusantium minus pariatur explicabo et nesciunt odit dolor ipsa modi vero ab alias veritatis error, consectetur fugit! Asperiores sed, soluta id ullam eveniet delectus earum.</li>
  <li>Exercitationem aperiam minus facilis provident amet iste eius fugiat possimus consequuntur fugit corporis ea, iusto, culpa voluptatem nisi illum quisquam distinctio in velit incidunt praesentium vero impedit molestiae. Dicta, accusamus!</li>
</ul>

<h3>Definition list <code>dl dt dd</code></h3>
<dl>
  <dt>Firefox</dt>
  <dd>A free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.</dd>
  <dt>Chrome</dt>
  <dd>A freeware web browser developed by Google.</dd>
  <dt>Internet Explorer</dt>
  <dd>A graphical web browsers developed by Microsoft and included as part of the Microsoft Windows line of operating systems, starting in 1995</dd>
</dl>
