<h3>Marked or highlighted text <code>mark</code></h3>
<p>
  I also have some <mark>kitten</mark>s who are visiting me these days. They’re really cute. I think they like my garden! Maybe I should adopt a <mark>kitten</mark>.
</p>
