<article class="media">
  <img class="media__figure article__image" src="http://lorempixel.com/240/180/city/4/" alt="city">
  <article class="media__body">
    <h3>Article title: In the city.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste corporis voluptatibus quae aliquid, fuga blanditiis officiis dignissimos reiciendis sed eos, accusantium consectetur nesciunt optio molestias repudiandae necessitatibus, mollitia ea voluptates.</p>
  </article>
</article>


<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10">
<article class="media">
  <img class="media__figure article__image" src="http://lorempixel.com/240/180/city/4/" alt="city">
  <article class="media__body">
    <h3>Article title: In the city.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste corporis voluptatibus quae aliquid, fuga blanditiis officiis dignissimos reiciendis sed eos, accusantium consectetur nesciunt optio molestias repudiandae necessitatibus, mollitia ea voluptates.</p>
  </article>
</article></textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Media object.
      </p>
    </section>
</details>
