<nav id="menu"  class="menu" role="navigation">
  <a href="#top" class="btn--default">Close</a>
  <ul>
    <li><a href="#headings">Headings</a>
    </li>
    <li><a href="#grouping-content">Grouping content</a>
      <ul>
        <li><a href="#paragraphs">Paragraphs</a></li>
        <li><a href="#horizontal">Horizontal Rule</a></li>
        <li><a href="#preformatted">Pre-formatted text</a></li>
        <li><a href="#blockquotes">Blockquotes</a></li>
        <li><a href="#lists">Lists</a></li>
        <li><a href="#figures">Figures</a></li>
      </ul>
    </li>
    <li><a href="#text-level">Text-level Semantics</a>
      <ul>
        <li><a href="#links">Links</a></li>
        <li><a href="#emphasis">Emphasis</a></li>
        <li><a href="#small">Small</a></li>
        <li><a href="#strikethrough">Strikethrough</a></li>
        <li><a href="#citations">Citations</a></li>
        <li><a href="#inline-quotes">Inline quotes</a></li>
        <li><a href="#definition">Definition</a></li>
        <li><a href="#abbreviation">Abbreviation</a></li>
        <li><a href="#code">Code</a></li>
        <li><a href="#variable">Variable</a></li>
        <li><a href="#sample">Sample</a></li>
        <li><a href="#keyboard">Keyboard</a></li>
        <li><a href="#sup-sub">Sup Sub</a></li>
        <li><a href="#italicised">Italicised</a></li>
        <li><a href="#emboldened">Emboldened</a></li>
        <li><a href="#mark">Mark</a></li>
        <li><a href="#edits">Edits</a></li>
      </ul>
    </li>
    <li><a href="#tables">Tabular Data</a>
    </li>
    <li><a href="#forms">Forms</a>
    </li>
    <li><a href="#buttons">Buttons</a>
    </li>
  </ul>
</nav>
