<nav id="menu"  class="menu hidden" role="navigation">
  <a href="#top" id="menu-close" class="btn--default menu-control">Close</a>
  <ul class="menu-list">
    <li class="menu-list__item"><a href="#headings">Headings</a>
    </li>
    <li class="menu-list__item menu__dropdown"><a href="#grouping-content" data-toggle="dropdown">Grouping content <i class="icon-arrow close"></i></a>
      <ul class="menu-sublist hide">
        <li  class="menu-sublist__item"><a href="#paragraphs">Paragraphs</a></li>
        <li class="menu-sublist__item"><a href="#horizontal">Horizontal Rule</a></li>
        <li class="menu-sublist__item"><a href="#preformatted">Pre-formatted text</a></li>
        <li class="menu-sublist__item"><a href="#blockquotes">Blockquotes</a></li>
        <li class="menu-sublist__item"><a href="#lists">Lists</a></li>
        <li class="menu-sublist__item"><a href="#figures">Figures</a></li>
      </ul>
    </li>
    <li class="menu-list__item menu__dropdown"><a href="#text-level" data-toggle="dropdown">Text-level Semantics <i class="icon-arrow close"></i></a>
      <ul class="menu-sublist hide">
        <li class="menu-sublist__item"><a href="#links">Links</a></li>
        <li class="menu-sublist__item"><a href="#emphasis">Emphasis</a></li>
        <li class="menu-sublist__item"><a href="#small">Small</a></li>
        <li class="menu-sublist__item"><a href="#strikethrough">Strikethrough</a></li>
        <li class="menu-sublist__item"><a href="#citations">Citations</a></li>
        <li class="menu-sublist__item"><a href="#inline-quotes">Inline quotes</a></li>
        <li class="menu-sublist__item"><a href="#definition">Definition</a></li>
        <li class="menu-sublist__item"><a href="#abbreviation">Abbreviation</a></li>
        <li class="menu-sublist__item"><a href="#code">Code</a></li>
        <li class="menu-sublist__item"><a href="#variable">Variable</a></li>
        <li class="menu-sublist__item"><a href="#sample">Sample</a></li>
        <li class="menu-sublist__item"><a href="#keyboard">Keyboard</a></li>
        <li class="menu-sublist__item"><a href="#sup-sub">Sup Sub</a></li>
        <li class="menu-sublist__item"><a href="#italicised">Italicised</a></li>
        <li class="menu-sublist__item"><a href="#emboldened">Emboldened</a></li>
        <li class="menu-sublist__item"><a href="#mark">Mark</a></li>
        <li class="menu-sublist__item"><a href="#edits">Edits</a></li>
      </ul>
    </li>
    <li class="menu-list__item"><a href="#tables">Tabular Data</a>
    </li>
    <li class="menu-list__item"><a href="#forms">Forms</a>
    </li>
    <li class="menu-list__item"><a href="#buttons">Buttons</a>
    </li>
    <li class="menu-list__item"><a href="#colors">Colors</a>
    </li>
  </ul>
</nav>
