<nav role="navigation" class="nav">
  <ul class="nav__list">
    <li class="nav__item"><a href="#">Lorem link</a></li>
    <li class="nav__item"><a href="#">Ipsum link</a></li>
    <li class="nav__item"><a href="#">Dolor link</a></li>
  </ul>
</nav>

<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10">
<nav role="navigation" class="nav">
  <ul class="nav__list">
    <li class="nav__item"><a href="#">Lorem link</a></li>
    <li class="nav__item"><a href="#">Ipsum link</a></li>
    <li class="nav__item"><a href="#">Dolor link</a></li>
  </ul>
</nav></textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Content preceding the main body of a page or article, giving the reader the main idea of the following content.
      </p>
    </section>
</details>
