<nav role="navigation">
  <ul class="pager">
    <li><a href="#" class="pager__item prev">Previous</a>
    </li>
    <li><a href="#" class="pager__item next">Next</a>
    </li>
  </ul>
</nav>


<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10">
<nav role="navigation">
  <ul class="pager">
    <li><a href="#" class="pager__item prev">Previous</a>
    </li>
    <li><a href="#" class="pager__item next">Next</a>
    </li>
  </ul>
</nav>
      </textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Pager navigation.
      </p>
    </section>
</details>
