<nav role="navigation">
 <ul class="pagination">
  <li class="pagination__item"><a href="#" class="pagination__next">Previous</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">1</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num pagination__num--active">2</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">3</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">4</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">5</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">6</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">7</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">8</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">9</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">10</a></li>
  <li class="pagination__item"><a href="#" class="pagination__prev">Next</a></li>
 </ul>
</nav>

<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10">
<nav role="navigation">
 <ul class="pagination">
  <li class="pagination__item"><a href="#" class="pagination__next">Previous</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">1</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num pagination__num--active">2</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">3</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">4</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">5</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">6</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">7</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">8</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">9</a></li>
  <li class="pagination__item"><a href="#" class="pagination__num">10</a></li>
  <li class="pagination__item"><a href="#" class="pagination__prev">Next</a></li>
 </ul>
</nav>
</textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Navigation horizontal menu.
      </p>
    </section>
</details>
