<ol class="tags">
  <li><a href="#" rel="tag" data-rank="1">lorem</a></li>
  <li><a href="#" rel="tag" data-rank="3">ipsum</a></li>
  <li><a href="#" rel="tag" data-rank="6">dolor</a></li>
  <li><a href="#" rel="tag" data-rank="2">sit</a></li>
  <li><a href="#" rel="tag" data-rank="4">amet</a></li>
  <li><a href="#" rel="tag" data-rank="5">incus</a></li>
  <li><a href="#" rel="tag" data-rank="1">parietal</a></li>
  <li><a href="#" rel="tag" data-rank="3">occipital</a></li>
  <li><a href="#" rel="tag" data-rank="6">ribs</a></li>
  <li><a href="#" rel="tag" data-rank="4">scapula</a></li>
  <li><a href="#" rel="tag" data-rank="5">vomer</a></li>
  <li><a href="#" rel="tag" data-rank="2">zygomatic</a></li>
  <li><a href="#" rel="tag" data-rank="1">maxilla</a></li>
</ol>


<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10">
<ol class="tags">
  <li><a href="#" rel="tag" data-rank="1">lorem</a></li>
  <li><a href="#" rel="tag" data-rank="3">ipsum</a></li>
  <li><a href="#" rel="tag" data-rank="6">dolor</a></li>
  <li><a href="#" rel="tag" data-rank="2">sit</a></li>
  <li><a href="#" rel="tag" data-rank="4">amet</a></li>
  <li><a href="#" rel="tag" data-rank="5">incus</a></li>
  <li><a href="#" rel="tag" data-rank="1">parietal</a></li>
  <li><a href="#" rel="tag" data-rank="3">occipital</a></li>
  <li><a href="#" rel="tag" data-rank="6">ribs</a></li>
  <li><a href="#" rel="tag" data-rank="4">scapula</a></li>
  <li><a href="#" rel="tag" data-rank="5">vomer</a></li>
  <li><a href="#" rel="tag" data-rank="2">zygomatic</a></li>
  <li><a href="#" rel="tag" data-rank="1">maxilla</a></li>
</ol>
</textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> List of tags.
      </p>
    </section>
</details>
