<nav role="navigation" class="vertical-nav">
  <ul class="vertical-nav__list">
    <li class="vertical-nav__item vertical-nav__item--active"><a href="#" >Active tab</a></li>
    <li class="vertical-nav__item"><a href="#">Lorem tab</a></li>
    <li class="vertical-nav__item"><a href="#">Ipsum tab</a></li>
    <li class="vertical-nav__item"><a href="#">Dolor tab</a></li>
  </ul>
</nav>

<details class="snippet">
    <summary title="Show markup usage" class="snippet__summary">Snippet</summary>
    <section>
      <textarea class="text-input snippet__text" cols="30" rows="10">
<nav role="navigation" class="vertical-nav">
  <ul class="vertical-nav__list">
    <li class="vertical-nav__item vertical-nav__item--active"><a href="#" >Active tab</a></li>
    <li class="vertical-nav__item"><a href="#">Lorem tab</a></li>
    <li class="vertical-nav__item"><a href="#">Ipsum tab</a></li>
    <li class="vertical-nav__item"><a href="#">Dolor tab</a></li>
  </ul>
</nav></textarea>
      <p class="caption snippet__caption">
        <strong>Usage:</strong> Navigation vertical menu.
      </p>
    </section>
</details>
