.main {
  @include max-width;
  width: 90%;
  z-index: 2;
}
  @media all and (min-width: $bp-medium) {
    .main {
    width:70%;
    margin-left: 22%;
    }
  }


.header {
  margin-top: $margin-base * 10;
  width: 85%
}
  @media all and (min-width: 22.8em) { // 366px / 16px ~= 22.8em
    .header {
      width: 100%;
    }
  }
