#menu-open {
  @include font-size(20);
  position: fixed;
  top: $margin-base;
  left: $margin-base;
  box-shadow: 0 0 5px $base-color;
  z-index: 9000;
}

#menu-close {
  position: absolute;
  left: $margin-base;
  top: $margin-base;
}
