.nav {
  margin-bottom: $margin-base;
}
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .nav__item {
    list-style: none;
    border-right: 1px solid $lightgrey;

    &:hover {
      background: $superlightergrey;
    }

    &:last-child {
      border-right: none;
    }

    a {
      line-height: $baseline * 1.5;
      padding-left: $padding-horizontal;
      padding-right: $padding-horizontal;
      transition: all ease $hover-transition;
    }

    a,
    a:hover,
    a:active {
      color: $link-color;
      text-decoration: none;
    }
  }
