.snippet {
  margin-top: $margin-base * 4;
  position: relative;
  section {
    padding: 1.5%;
    overflow: hidden;
    background-color: $lightergrey;
  }
}
  .snippet + hr {
    margin-top: $margin-base * 10;
  }

  .snippet__summary {
    @include font-size(14);
    font-weight: bold;
    outline: none;
    /*&::-webkit-details-marker {
      display: none;
    }*/
  }

  .snippet__text {
    font-family: $code-font;
    &,
    &:focus {
      background: $superlightergrey;
    }
  }

  .snippet__caption {
    margin-top: $margin-base;
    strong {
      color: $black;
    }
  }

