%input {
  width: 100%;
  padding: $input-padding;
  background-color: $input-bg;
  border: solid 1px $input-border-color;
  border-radius: $radius;
  outline: none;
  vertical-align: middle;
  transition: all $hover-transition ease;

  &:focus {
    background-color: $white;
    box-shadow: $input-focus-shadow;
    border: solid 1px $input-focus-border-color;
  }
}

.legend {
  @include font-size(18);
  line-height: $baseline * 1.5;
}

.label {
  width: auto;
  color: $text-color-strong;
  font-weight: 700;
  display: block;
  line-height: $baseline * 1.5;
}
  .label__asterisk[title] {
    color: $danger-color;
    border-bottom: none;
  }

.text-input {
  @extend %input;
}

.select-input {
  @extend %input;
  -webkit-appearance: none;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBvbHlnb24gcG9pbnRzPSI4LDAgMyw2IDEzLDYiIGZpbGw9IiM0NDQiLz48cG9seWdvbiBwb2ludHM9IjgsMCAzLDYgMTMsNiIgZmlsbD0iIzQ0NCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTYsIDE1KSByb3RhdGUoLTE4MCkiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 92% 50%;
  width: 220px;
  position: relative;
}


// Checkboxes and radio list
.options-list {
  @extend p;
}

  .option {
    display: block;
    line-height: $baseline * 1.5;;
  }

    .option__input {
      width: 15px;
      height: 15px;
      margin: 0;
    }

    .option__label {
      cursor: pointer;
    }

    .option__input,
    .option__label {
      display: inline-block;
      vertical-align: text-bottom;
      line-height: 1em;
    }

.text-input + .caption,
.select-input + .caption,
.option + .caption,
.option__label + .caption {
  display: block;
  color: $grey;
  font-weight: 100;
  line-height: $baseline * 1.5;
}
