legend, label {
  width: auto;
  color: $text-color-strong;
  font-weight: 700;
  display: block;
  line-height: 3;
}

abbr[title="Required"] {
  color: $code-color;
}

input + .caption {
  display: block;
  color: $grey;
}

input[type=text],
input[type=url],
input[type=tek],
input[type=number],
input[type=color],
input[type=email] {
  padding: 10px;
  border-radius: $radius;
  border: solid 1px $lightgrey;
  outline: 0;
  width: 100%;
  background-color: $superlightergrey;

  &:focus {
    background-color: $white;
  }
}

