<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Style guide</title>

  <link rel="stylesheet" href="css/style.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <body>

    {{> header}}

    <main class="main" role="main">
      {{> headings}}

      <h2>Grouping content</h2>
      {{> paragraphs}}
      {{> horizontal}}
      {{> preformatted}}
      {{> blockquotes}}
      {{> lists}}
      {{> figures}}

      <hr>

      <h2>Text-level Semantics</h2>
      {{> links}}
      {{> emphasis}}
      {{> small}}
      {{> strikethrough}}
      {{> citations}}
      {{> inline-quotes}}
      {{> definition}}
      {{> abbreviation}}
      {{> code}}
      {{> variable}}
      {{> sample}}
      {{> keyboard}}
      {{> sup-sub}}
      {{> italicised}}
      {{> emboldened}}
      {{> mark}}
      {{> edits}}

      <hr>

      <h2>Tabular data</h2>
      {{> tables}}

      <hr>

      <h2>Forms</h2>
      {{> forms}}

      <hr>

      <h2>Buttons</h2>
      {{> buttons}}
    </main>

  </body>

</html>
