<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Style guide</title>
  <link rel="stylesheet" href="css/style.min.css">

  <body>
   <div class="fork-me--wrap">
    <div class="fork-me fork-me--top-right">
      <a href="https://github.com/Sergiop79/frontend-style-guide">Fork me on Github</a>
    </div>
   </div>
    <main class="main hidden" role="main">
      <a href="#menu" id="menu-open" class="btn--info menu-control"><span class="icon-menu"></span></a>

      {{> header}}

      <h2 id="headings" class="h--bordered">Headings</h2>
      {{> headings}}

      <h2 id="grouping-content" class="h--bordered">Grouping content</h2>
      {{> paragraphs}}
      {{> horizontal}}
      {{> preformatted}}
      {{> blockquotes}}
      {{> lists}}
      {{> figures}}

      <hr>

      <h2 id="text-level" class="h--bordered">Text-level Semantics</h2>
      {{> links}}
      {{> emphasis}}
      {{> small}}
      {{> strikethrough}}
      {{> citations}}
      {{> inline-quotes}}
      {{> definition}}
      {{> abbreviation}}
      {{> code}}
      {{> variable}}
      {{> sample}}
      {{> keyboard}}
      {{> sup-sub}}
      {{> italicised}}
      {{> emboldened}}
      {{> mark}}
      {{> edits}}

      <hr>

      <h2 id="tables" class="h--bordered">Tabular data</h2>
      {{> tables}}

      <hr>

      <h2 id="forms" class="h--bordered">Forms</h2>
      {{> forms}}

      <hr>

      <h2 id="buttons" class="h--bordered">Buttons</h2>
      {{> buttons}}

      <hr>

      <h2 id="colors" class="h--bordered">Colors</h2>
      {{> colors}}

      <hr>


      <h2 id="patterns" class="h--bordered">Patterns</h2>
      <p class="lead">Common snippets of makup</p>
      <hr>
      {{> lead}}
      <hr>
      {{> caption}}
      <hr>
      {{> nav}}
      <hr>
      {{> vertical-nav}}
      <hr>
      {{> tabs}}
      <hr>
      {{> pagination}}
      <hr>
      {{> breadcrumb}}
      <hr>
      {{> tags}}
      <hr>
      {{> media}}
      <hr>

    </main>

    {{> nav-menu}}

    <script src="js/nav-menu.js"></script>

  </body>

</html>
